@import url("./global.css");

header {
    display: flex;
    /* Para  que o  gruo fique ao lado  do outro*/
    justify-content: space-between;
    /* colocar nas extremidades*/
    align-items: center;
    /* centrlizar na vertical*/
    /* */
    padding: 30px;
    /*  Espaçamento interno*/
    border-bottom: 0.7px solid var(--color-gray-3)
        /*Borda inferior */



}

.container-nav-header {
    display: flex;
    /* Para eue o gruoo fique */
    align-items: center;
    /* */
    gap: 70px;
    /* Diastancia entre os elementos*/

}

.navigation-header ul {
    /* So vai estilizar as tag ul que estiverem dentro de navegtaion- header*/
    display: flex;
    /* Para que o grupo fique ao lado do outro*/
    gap: 40px;
    /* Distncientre  os elementos */
    list-style: none;
    /* remove a bolinha*/

}

.navigation-header ul li a {
    text-decoration: none;
    /* Decoração de teto */
    color: var(--color-black);
    /* cor de texro*/
    font-family: var(--font-family-primary);
    /*Familia da fonte*/

}

.navigation-header ul li .menu-active {
    color: var(--color-blue);


}

.btn-header {
    font-family: var(--font-family-primary);
    /* alterar fonte*/
    text-decoration: none;
    /* a decoraçao do texto*/
    background-color: var(--color-blue);
    /*Cor de fundo*/
    color: var(--color-white);
    /* Cor de texto*/
    border-radius: 10px;
    /*Arrendodamento da borda*/
    padding: 10px 20px;
    font-weight: var(--font-weight-button);
    /* Espessura da fonte*/

}
    /*-------------------------------MAIN-----------------*/

    main {

        display: flex;
        /* Para  que o  gruo fique ao lado  do outro*/
        justify-content: center;
        /* centralizer na horizontal*/
        align-items: center;
        /* centrlizar na vertical*/
        gap: 50px;
        /* Distancia entre elementos*/
        background-color: var(--color-blue-10);
        /*cor  de fundo */
        padding: 50px 0;
        /*  Espaçamento interno*/


    }

    .main-content {

        display: flex;  /* Para habitar o gap*/
        flex-direction: column; /* Deixar em coluna*/
        gap: 30px; /* Espaçamento entre os elementos*/
        width: 520px;
        height: 380px;


    }

    .main-content h1{
        font-family: var(--font-size-h1);/*tAMANHO DA FONTE*/
        font-family: var(--font-family-primary);/*ALTURA DA FONTE*/
        font-weight: var(--font-weight-h1);/*ESPESSUARA DA FONTE*/
    
    
    }
    .main-content h1 span{
        color: var(--color-blue);/* Alterar cor dp texto*/
    }
    .main-content p{

        font-family: var(--font-family-primary) ;/* Alterar fonte*/
        color: var(--color-gray); /* Alterar cor dp texto*/
        line-height: 30px; /* Distanciamento entre as linhas*/
    }

    .container-cta{

        display: flex;
        gap: 10px ;
    }
    .btn-primary, .btn-secondary{
        padding: 8px 55px;/* Espaçamento interno*/
        border-radius: 10px; /*Arredondamento da borda*/
        font-weight: var(--font-weight-button);/* Espessura da fonte*/
        text-decoration: none; /*Decoraçã do textp*/
        font-family:  var(--font-family-primary); /* Fa,ília da fonte*/

    }

    .btn-primary{
        background-color: var(--color-blue); /* Cor de fundo*/
        color: var(--color-white);/* cor do texto*/
        transition: 0.3s;/* Tempo de transição*/
    }

    .btn-primary:hover{
        background-color: #005e89;/**/
    }
    
    
    .btn-secondary{
        background-color: var(--color-white);/* cor de fundo*/
        color: var(--color-blue); /* cor de texto*/
        border:  1px solid var(--color-blue); /*Temmpo de transiçao do elemento*/
        transition: 0.3s ;
    }

    .btn-secondary:hover{
        background-color: #e6e6e6;/**/
    }
    





