@import url("./global.css");

header {
    display: flex;
    /* Para  que o  gruo fique ao lado  do outro*/
    justify-content: space-between;
    /* colocar nas extremidades*/
    align-items: center;
    /* centrlizar na vertical*/
    /* */
    padding: 30px;
    /*  Espaçamento interno*/
    border-bottom: 0.7px solid var(--color-gray-3)
        /*Borda inferior */



}

.container-nav-header {
    display: flex;
    /* Para eue o gruoo fique */
    align-items: center;
    /* */
    gap: 70px;
    /* Diastancia entre os elementos*/

}

.navigation-header ul {
    /* So vai estilizar as tag ul que estiverem dentro de navegtaion- header*/
    display: flex;
    /* Para que o grupo fique ao lado do outro*/
    gap: 40px;
    /* Distncientre  os elementos */
    list-style: none;
    /* remove a bolinha*/

}

.navigation-header ul li a {
    text-decoration: none;
    /* Decoração de teto */
    color: var(--color-black);
    /* cor de texro*/
    font-family: var(--font-family-primary);
    /*Familia da fonte*/

}

.navigation-header ul li .menu-active {
    color: var(--color-blue);


}

.btn-header {
    font-family: var(--font-family-primary);
    /* alterar fonte*/
    text-decoration: none;
    /* a decoraçao do texto*/
    background-color: var(--color-blue);
    /*Cor de fundo*/
    color: var(--color-white);
    /* Cor de texto*/
    border-radius: 10px;
    /*Arrendodamento da borda*/
    padding: 10px 20px;
    font-weight: var(--font-weight-button);
    /* Espessura da fonte*/

}

/*-------------------------------MAIN-----------------*/

main {

    display: flex;
    /* Para  que o  gruo fique ao lado  do outro*/
    justify-content: center;
    /* centralizer na horizontal*/
    align-items: center;
    /* centrlizar na vertical*/
    gap: 50px;
    /* Distancia entre elementos*/
    background-color: var(--color-blue-10);
    /*cor  de fundo */
    padding: 50px 0;
    /*  Espaçamento interno*/


}

.main-content {

    display: flex;
    /* Para habitar o gap*/
    flex-direction: column;
    /* Deixar em coluna*/
    gap: 30px;
    /* Espaçamento entre os elementos*/
    width: 520px;
    height: 380px;


}

.main-content h1 {
    font-family: var(--font-size-h1);
    /*tAMANHO DA FONTE*/
    font-family: var(--font-family-primary);
    /*ALTURA DA FONTE*/
    font-weight: var(--font-weight-h1);
    /*ESPESSUARA DA FONTE*/


}

.main-content h1 span {
    color: var(--color-blue);
    /* Alterar cor dp texto*/
}

.main-content p {

    font-family: var(--font-family-primary);
    /* Alterar fonte*/
    color: var(--color-gray);
    /* Alterar cor dp texto*/
    line-height: 30px;
    /* Distanciamento entre as linhas*/
}

.container-cta {

    display: flex;
    gap: 10px;
}

.btn-primary,
.btn-secondary {
    padding: 8px 55px;
    /* Espaçamento interno*/
    border-radius: 10px;
    /*Arredondamento da borda*/
    font-weight: var(--font-weight-button);
    /* Espessura da fonte*/
    text-decoration: none;
    /*Decoraçã do textp*/
    font-family: var(--font-family-primary);
    /* Fa,ília da fonte*/

}

.btn-primary {
    background-color: var(--color-blue);
    /* Cor de fundo*/
    padding: 8px 55px;
    color: var(--color-white);
    /* cor do texto*/
    transition: 0.3s;
    /* Tempo de transição*/
}

.btn-primary:hover {
    background-color: #005e89;
    /**/
}


.btn-secondary {
    background-color: var(--color-white);
    /* cor de fundo*/
    color: var(--color-blue);
    /* cor de texto*/
    border: 1px solid var(--color-blue);
    /*Temmpo de transiçao do elemento*/
    transition: 0.3s;
}

.btn-secondary:hover {
    background-color: #e6e6e6;
    /**/

}

/*--------------------------Services-------------------------*/

.section-services {

    display: grid;
    grid-template-columns: repeat(4, max-content);
    justify-content: center;
    padding: 30px 0;
    gap: 25px;
    border-bottom: 0.7px solid var(--color-gray-3);

}

.container-item-services {
    display: flex;
    align-items: center;
    gap: 15px;

}

.container-item-services h2 {
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-h4);
    font-size: var(--font-size-h4);

}

.container-item-services p {
    font-family: var(--font-family-primary);
    color: var(--color-gray-2);
    font-size: var(--font-size-h4);
}

/*----------- Section Detail--------*/

.section-details {

    display: flex;
    /*Hbilitar gap*/
    flex-direction: column;
    /* Colocar os elementos em coluna */
    gap: 80px;
    /* Distncia entre os elementos*/
    align-items: center;
    /* Cuida  da horinzontal (flex- direction: coluna*/
    padding: 80px 0;
    /* Espaçamebto Interno*/

}

.details-presentation {
    display: flex;
    /*Habilar gap*/
    flex-direction: column;
    /* Colocar os elementos em coluna*/
    gap: 30PX;
    /* Distancia entre os elementos*/
    text-align: center;
    /*Texto ao centro*/


}

.details-presentation h2 {
    font-size: var(--font-size-h2);
    /* Yamanho da fonte*/
    font-family: var(--font-family-primary);
    /*Família da fonte*/
    font-weight: var(--font-weight-h2);
    /* Espessura da fonte*/

}

.details-presentation p {

    font-family: var(--font-family-primary);
    /* Famila da fonte*/
    font-size: var(--font-size-body);
    /*Tamanho da fonte*/
    color: var(--color-gray-2);
    /* cor da fonte*/
    width: 665px;
    /* largura*/
    margin: o auto;
}


.service-description {
    display: flex;
    /* Habilitar gap/ colocar um ao lado do ouro*/
    gap: 60px;
    /* Distancia entre os elementos*/
    align-items: center;
    /* Cuida  da horinzontal (flex- direction: coluna*/


}

.content-service {

    display: flex;
    /* Habilitar Gap*/
    flex-direction: column;
    /* Colocar em coluna*/
    gap: 40px;
    /* Distancia entre os elementos*/

}

.service-details {
    display: flex;
    /*  Colocar um ao lado do outro*/
    align-items: center;
    /*  Centralizar vertical*/
    gap: 25px;
    /* Distancia do elemento*/

}

.service-details div span {
    font-size: var(--font-size-h4);
    /* Tamanho da fonte*/
    font-weight: var(--font-weight-h4);
    /* familia da fonte*/
    font-family: var(--font-family-primary);
    /*Familia fonte*/

}

.service-details div p {
    font-size: var(--font-size-caption);
    /* Tamanho da fonte*/
    font-family: var(--font-size-h4);
    /* familia da fonte*/
    color: var(--color-gray-2);
    /* Cor de texto*/

}

.content-service h3 {
    font-size: var(--font-size-h3);
    /* Tamanho da fonte*/
    font-family: var(--font-family-primary);
    /* familia da fonte*/
    font-weight: var(--font-weight-h3);
    width: 420px;

}

.content-service h3 span {
    color: var(--color-blue);

}

.content-service p {
    font-family: var(--font-family-primary);
    line-height: 27px;
    color: var(--color-gray);
    width: 445px;


}

.section-benefit {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card-benefit {
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;
    padding: 60px 48px;
    border-radius: 20px;

}

.card-benefit p {
    width: 458px;

}

.card-benefit-secondary {

    background-color: #F4F4F4;

}

.card-benefit h2 {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-h3);
    width: 365px;
    text-align: center;

}

.card-benefit p {
    font-family: var(--font-family-primary);
    color: var(--color-gray);
    text-align: center;
    width: 458px;
}

.btn-benefit {
    padding: 10px 35px;
    border-radius: 10px;
    background-color: var(--color-blue);
    color: var(--color-white);
    text-decoration: none;
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-button);
}

.card-benefit-primary {
    background-color: var(--color-blue);
    color: var(--color-white);
}

.card-benefit-primary p {
    color: var(--color-white);
}

.btn-benefit-secondary {
    background-color: var(--color-white);
    padding: 10px 35px;
    border-radius: 10px;
    color: var(--color-blue);
    text-decoration: none;
    font-weight: var(--font-weight-button);
    font-family: var(--font-family-primary);

}

.section-company {

    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin: 43px;
    padding: 80px;
}

.section-company {
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-h2);
    font-size: var(--font-size-h3);
}

.container-company {
    display: flex;
    gap: 80px;
}

.section-contact {
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
    padding: 140px;
    background-color: var(--color-blue-10);
}

.section-contact h2 {

    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-h2);
    font-family: var(--font-family-primary);
    text-align: center;
    width: 478px;
}

.section-contact form {
    display: flex;
    gap: 14px;
}

.section-contact form input {
    padding: 20px 35px;
    border-radius: 10px;
    width: 532px;
    font-family: var(--font-family-primary);
    box-shadow: 0 4px 84px 0 rgba(0, 0, 0, 0.7);
}

.section-contact form button {

    background-color: var(--color-black);
    padding: 20px 40px;
    border-radius: 10px;
    color: var(--color-white);
    font-family: var(--font-family-primary);
    text-transform: uppercase;
    font-weight: var(--font-family-primary);
}

footer {
    display: flex;
    gap: 99px;
    justify-content: center;
    padding: 60px 0;
}

.footer-informations {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    font-family: var(--font-family-primary);
}

.footer-informations p {
    font-size: var(--font-size-caption);
    width: 268px;
    color: #515151;
}

.footer-informations ul {
    list-style: none;

}

.footer-informations ul li a, .footer-informations ul li{
    text-decoration: none;
    color: #515151;
    font-size: var(--font-size-caption);

}

.footer-informations h2 {

    font-size: var(--font-size-h4);
    font-weight: var(--font-weight-h4);
}

.footer-socials{

    display: flex;
    gap: 15px;
    align-items: flex-start;
}
.social-item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px ;
    box-shadow: 0 4px 14px 0px  rgba(0,0,0,0.15);
    border-radius: 30px ;
    transition: 0.3s;
    cursor: pointer;

}
  
.social-item:hover{
    background-color: var(--color-blue-10);
    transform: translateY(-10px);
}